{% extends 'user_base.html' %}


{% block content %}
<body>
<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-4">
            <a href="{% url 'user_home' %}" class="btn btn-outline-dark my-3">Back</a>
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group m-3">
                        <label>Name</label>
                        <input name="name" class="form-control" type="text" placeholder="Name here" required>
                    </div>
                    <div class="form-group m-3">
                        <label>Password</label>
                        <input name="password" class="form-control" type="password" placeholder="Password here">
                    </div>
                    <div class="form-group m-3">
                        <label>Description</label>
                        <input name="description" class="form-control" type="text" placeholder="Description here">
                    </div>
                    {% for message in messages %}
                    <p {% if message.tags %}class="{{ message.tags }}" {% endif %}>
                        {{ message }}
                    </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-outline-dark m-3">Create</button>
                </form>

            </div>

        </div>
    </div>

</div>

</body>

{% endblock %}